<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">BMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://bms.cargo.win">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/ayushvarshn/MajorProject">Github</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Made By
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">Aman Singh</a>
              <a class="dropdown-item">Ayush Varshney</a>
                <a class="dropdown-item">Alka Ann Pradeep</a>
                <a class="dropdown-item">Anu Joseph</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Guide: Dr. Gopakumar P</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <div class="row p-4">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            const config1 = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Temperature",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Temperature Variation with Time'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Temperature in degree Celcius'
                            }
                        }]
                    }
                }
            };
            const config2 = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Voltage",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Realtime Variation of Voltage'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Voltage in Volts'
                            }
                        }]
                    }
                }
            };
            const config3 = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "soc",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Realtime graph of State of Charge'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'SoC in percent'
                            }
                        }]
                    }
                }
            };
            const config4 = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "soh",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'State of Health with time'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'SoH in percent'
                            }
                        }]
                    }
                }
            };

            const context1 = document.getElementById('canvas1').getContext('2d');
            const context2 = document.getElementById('canvas2').getContext('2d');
            const context3 = document.getElementById('canvas3').getContext('2d');
            const context4 = document.getElementById('canvas4').getContext('2d');

            const lineChart1 = new Chart(context1, config1);
            const lineChart2 = new Chart(context2, config2);
            const lineChart3 = new Chart(context3, config3);
            const lineChart4 = new Chart(context4, config4);

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config1.data.labels.length === 20) {
                    config1.data.labels.shift();
                    config1.data.datasets[0].data.shift();
                    config2.data.labels.shift();
                    config2.data.datasets[0].data.shift();
                    config3.data.labels.shift();
                    config3.data.datasets[0].data.shift();
                    config4.data.labels.shift();
                    config4.data.datasets[0].data.shift();
                }
                config1.data.labels.push(data.time);
                config1.data.datasets[0].data.push(data.temp);
                config2.data.labels.push(data.time);
                config2.data.datasets[0].data.push(data.voltage);
                config3.data.labels.push(data.time);
                config3.data.datasets[0].data.push(data.soc);
                config4.data.labels.push(data.time);
                config4.data.datasets[0].data.push(data.soh);
                lineChart1.update();
                lineChart2.update();
                lineChart3.update();
                lineChart4.update();
            }
        });
    </script>
</body>

</html>