<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Voltage - BMS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">BMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/ayushvarshn/MajorProject">Github</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Made By
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">Aman Singh</a>
              <a class="dropdown-item">Ayush Varshney</a>
                <a class="dropdown-item">Alka Ann Pradeep</a>
                <a class="dropdown-item">Anu Joseph</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Guide: Dr. Gopakumar P</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./temperature">Temperature</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="./voltage">Voltage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./soc">SoC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./soh">SoH</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 pt-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Voltage",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Realtime Voltage variation'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Voltage in volts'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('canvas').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 20) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.voltage);
                lineChart.update();
            }
        });
    </script>
</body>

</html>