{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="container pt-5">
      <div class="row homeSection">
        <div class="col col-8">
          <img src="{{url_for('static', filename='images/home1.png')}}" class="img-fluid homeImg" alt="" />
        </div>
        <div class="col col-4 my-auto home">
          <h1>Hello Fellas!</h1>
          <p class="homePara">Welcome to the battery monitoring system user interface.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="container about pt-5">
    <div class="row">
      <div class="col col-5 about">
        <div class="aboutSection text-justify">
          <h2 class="aboutHeader mx-auto">About</h2>
          <p class="aboutPara" style=" text-align: justify; text-justify: inter-word;">
            Lithium-ion batteries are used in a wide range of
            applications. However, monitoring these batteries effectively is a
            challenge. This project aims to solve this problem using a battery monitoring prototype based
            on supervised machine learning by estimating the battery’s health
            and charge. It can be efficiently designed
            by making a few changes in the production cycle. The dataset
            obtained by the manufacturer can be used to train a machine
            learning model. These models then can be used to estimate the
            behavioral patterns of the battery in real-time which gives the
            user an idea about the performance of the battery at any instance.
            Further, this monitoring system can be extended on a large scale
            with the help of Internet of Things as thousands of batteries can
            be monitored using a single server running all the algorithms,
            thus reducing cost for large-scale applications. Try out our battery user interface!

          </p>
        </div>
      </div>
      <div class="col col-7 my-5">
        <img src="{{url_for('static', filename='images/SmartCar.gif')}}" class="aboutUsImg img-fluid" alt="" />
      </div>
    </div>
  </section>

{% if username %}
<div class="text-center">
    <p class="lead">Try out our Battery Monitoring System? Visit home page!</p>
    <p class="lead">
      <a href="{{url_for('home')}}" class="btn btn-lg btn-secondary">Home</a>
    </p>
</div>
{% else %}
<div class="text-center">
    <p class="lead">Try out our Battery Monitoring System? Register Now!</p>
    <p class="lead">
      <a href="{{url_for('login')}}" class="btn btn-lg btn-secondary">Login</a>
      <a href="{{url_for('register')}}" class="btn btn-lg btn-secondary">Register</a>
    </p>
</div>
{% endif %}

{% endblock %}


