{% extends 'layout.html' %}
{% block css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="overview-wrap">
      <h1 class="text-info">Dashboard</h1>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Health</h4>
            <h1 class="mt-4 text-white" id="health-ov">{{battery.last_health}} %</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Temperature</h4>
            <h1 class="mt-4 text-white" id="temp-ov">{{battery.last_temp}} °C</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Voltage</h4>
            <h1 class="mt-4 text-white" id="voltage-ov">{{battery.last_voltage}} V</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Charge</h4>
            <h1 class="mt-4 text-white" id="charge-ov">{{battery.last_soc}} %</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6">
        <div class="card bg-dark mb-4">
          <h1 class="text-white mb-4 mx-auto">State of Health</h1>
          <canvas id="health-chart"></canvas>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-dark">
          <h1 class="text-white mb-4 mx-auto">Temperature</h1>
          <canvas id="temp-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6">
        <div class="card bg-dark mb-4">
          <h1 class="text-white mb-4 mx-auto">Voltage</h1>
          <canvas id="voltage-chart"></canvas>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-dark">
          <h1 class="text-white mb-4 mx-auto">State of Charge</h1>
          <canvas id="charge-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      All the graphs are plotted with y-axis taken as the quantity measured and x-axis being time. This graph is not
      scale.
    </div>
  </div>
</div>


{% endblock %}
{% block script %}
<script>
  var config1 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    fill: false,
    borderColor: "#ffffff",
    backgroundColor: "#ffffff",
    pointBackgroundColor: "#ffffff",
    pointBorderColor: "#ffffff",
    pointHoverBackgroundColor: "#ffffff",
    pointHoverBorderColor: "#ffffff",
    data: {{ temp }}
        }]
    },
  options: {
    elements: {
      point:{
        radius: 0
      }
    },
    title: {
      display: false,
        text: 'Temperature',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 50,
            bottom: 50,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Temperature in °C'
        },
        ticks: {
          suggestedMin: 25,
          suggestedMax: 45
        }
      }],
        xAxes: [{
          display: false
        }]
    }
  }
    };

  var config2 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    fill: false,
    borderColor: "#ffffff",
    backgroundColor: "#ffffff",
    pointBackgroundColor: "#ffffff",
    pointBorderColor: "#ffffff",
    pointHoverBackgroundColor: "#ffffff",
    pointHoverBorderColor: "#ffffff",
    data: {{ voltage }}
        }]
    },
  options: {
    elements: {
      point:{
        radius: 0
      }
    },
    title: {
      display: false,
        text: 'Voltage',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 50,
            bottom: 50,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Voltage in Volts'
        },
        ticks: {
          suggestedMin: 1.8,
          suggestedMax: 4.5
        }
      }],
        xAxes: [{
          display: false
        }]
    }
  }
    };

  var config3 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    fill: false,
    borderColor: "#ffffff",
    backgroundColor: "#ffffff",
    pointBackgroundColor: "#ffffff",
    pointBorderColor: "#ffffff",
    pointHoverBackgroundColor: "#ffffff",
    pointHoverBorderColor: "#ffffff",
    data: {{ health }}
        }]
    },
  options: {
    elements: {
      point:{
        radius: 0
      }
    },
    title: {
      display: false,
        text: 'Health',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 50,
            bottom: 50,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'SoH in %'
        },
        ticks: {
          suggestedMin: 70,
          suggestedMax: 100
        }
      }],
        xAxes: [{
          display: false
        }]
    }
  }
    };

  var config4 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    fill: false,
    borderColor: "#ffffff",
    backgroundColor: "#ffffff",
    pointBackgroundColor: "#ffffff",
    pointBorderColor: "#ffffff",
    pointHoverBackgroundColor: "#ffffff",
    pointHoverBorderColor: "#ffffff",
    data: {{ charge }}
        }]
    },
  options: {
    elements: {
      point:{
        radius: 0
      }
    },
    title: {
      display: false,
        text: 'Charge',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 50,
            bottom: 50,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'SoC in %'
        },
        ticks: {
          suggestedMin: 0,
          suggestedMax: 100
        }
      }],
        xAxes: [{
          display: false
        }]
    }
  }
    };
  var chart1 = document.getElementById('temp-chart').getContext('2d');
  var myChart1 = new Chart(chart1, config1);
  var chart2 = document.getElementById('voltage-chart').getContext('2d');
  var myChart2 = new Chart(chart2, config2);
  var chart3 = document.getElementById('health-chart').getContext('2d');
  var myChart3 = new Chart(chart3, config3);
  var chart4 = document.getElementById('charge-chart').getContext('2d');
  var myChart4 = new Chart(chart4, config4);


  const source = new EventSource("/chart-data/{{battery.token}}");


  source.onmessage = function (event) {
    const data = JSON.parse(event.data);
    config1.data.labels = data.time;
    config1.data.datasets[0].data = data.temp;
    config2.data.labels = data.time;
    config2.data.datasets[0].data = data.voltage;
    config3.data.labels = data.time;
    config3.data.datasets[0].data = data.health;
    config4.data.labels = data.time;
    config4.data.datasets[0].data = data.charge;
    myChart1.update();
    myChart2.update();
    myChart3.update();
    myChart4.update();
    document.getElementById("temp-ov").innerHTML = data.t + ' °C';
    document.getElementById("voltage-ov").innerHTML = data.vol + ' V';
    document.getElementById("charge-ov").innerHTML = data.soc + ' %';
    document.getElementById("health-ov").innerHTML = data.soh + ' %';
  }

</script>
{% endblock %}