{% extends 'layout.html' %}
{% block css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="overview-wrap">
      <h1 class="text-white">Dashboard</h1>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Health</h4>
            <h1 class="mt-4 text-white" id="health-ov">96 %</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Temperature</h4>
            <h1 class="mt-4 text-white" id="temp-ov">30.4 °C</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Voltage</h4>
            <h1 class="mt-4 text-white" id="voltage-ov">3.42 V</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card bg-dark">
          <div class="container-fluid ml-2 mt-2 mb-2">
            <h4 class="overview text-info">Charge</h4>
            <h1 class="mt-4 text-white" id="charge-ov">32 %</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card bg-dark mb-5">
          <div class="ml-2 mt-2 mb-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="health-tab" data-toggle="tab" href="#health" role="tab"
                  aria-controls="health" aria-selected="true">Health</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="temp-tab" data-toggle="tab" href="#temp" role="tab" aria-controls="temp"
                  aria-selected="false">Temperature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="voltage-tab" data-toggle="tab" href="#voltage" role="tab"
                  aria-controls="voltage" aria-selected="false">Voltage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="charge-tab" data-toggle="tab" href="#charge" role="tab" aria-controls="charge"
                  aria-selected="false">Charge</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="health" role="tabpanel" aria-labelledby="health-tab">
                <div class="container-fluid">
                  <canvas id="health-chart"></canvas>
                </div>
              </div>
              <div class="tab-pane fade" id="temp" role="tabpanel" aria-labelledby="temp-tab">
                <div class="container-fluid">
                  <canvas id="temp-chart"></canvas>
                </div>
              </div>
              <div class="tab-pane fade" id="voltage" role="tabpanel" aria-labelledby="voltage-tab">
                <div class="container-fluid">
                  <canvas id="voltage-chart"></canvas>
                </div>
              </div>
              <div class="tab-pane fade" id="charge" role="tabpanel" aria-labelledby="charge-tab">
                <div class="container-fluid">
                  <canvas id="charge-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  var config1 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    data: {{ temp }}
        }]
    },
  options: {
    title: {
      display: true,
        text: 'Temperature',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 0,
            bottom: 0,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMin: 25,
          suggestedMax: 45
        }
      }],
      xAxes: [{
        display: false
      }]
    }
  }
    };

    var config2 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    data: {{ voltage }}
        }]
    },
  options: {
    title: {
      display: true,
        text: 'Voltage',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 0,
            bottom: 0,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMin: 2,
          suggestedMax: 4.5
        }
      }],
      xAxes: [{
        display: false
      }]
    }
  }
    };

    var config3 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    data: {{ temp }}
        }]
    },
  options: {
    title: {
      display: true,
        text: 'Health',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 0,
            bottom: 0,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMin: 70,
          suggestedMax: 100
        }
      }],
      xAxes: [{
        display: false
      }]
    }
  }
    };

    var config4 = {
    type: 'line',
    data: {
      labels: {{ time }},
  datasets: [{
    data: {{ charge }}
        }]
    },
  options: {
    title: {
      display: true,
        text: 'Charge',
          fontSize: 25
    },
    legend: {
      display: false,
        position: 'right',
          labels: {
        fontColor: '#000'
      }
    },
    layout: {
      padding: {
        left: 50,
          right: 0,
            bottom: 0,
              top: 0
      }
    },
    tooltips: {
      enabled: false
    },
    scales: {
      yAxes: [{
        ticks: {
          suggestedMin: 0,
          suggestedMax: 100
        }
      }],
      xAxes: [{
        display: false
      }]
    }
  }
    };
  var chart1 = document.getElementById('temp-chart').getContext('2d');
  var myChart1 = new Chart(chart1, config1);
  var chart2 = document.getElementById('voltage-chart').getContext('2d');
  var myChart2 = new Chart(chart2, config2);
  var chart3 = document.getElementById('health-chart').getContext('2d');
  var myChart3 = new Chart(chart3, config3);
  var chart4 = document.getElementById('charge-chart').getContext('2d');
  var myChart4 = new Chart(chart4, config4);
  const source = new EventSource("/chart?token={{ token }}");

  source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                document.getElementById('health-ov').innerHTML = data.health
                document.getElementById('temp-ov').innerHTML = data.temp
                document.getElementById('voltage-ov').innerHTML = data.voltage
                document.getElementById('charge-ov').innerHTML = data.charge
            }

</script>
{% endblock %}