{% extends 'layout.html' %}
{% block css %}
<style>
    .alert {
    margin-top: 0px;
    width: 400px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
	left: 99%;
	transform: translate(-100%,-50%);
    text-align: center;
    }
    .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }
    .closebtn:hover {
    color: black;
    }

    .alert.success {
    background-color: #4CAF50;
    }





      .box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	backdrop-filter: blur(10px);
	padding: 40px;
	background: rgba(0,0,0,.4);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #FFF;
	text-align: center;
}

.box .inputBox {
	position: relative;
}
.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
}
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	pointer-events: none;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad{
    0%{
        transform: rotate(0) translateY(-19px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
	top: -19px;
	left:0;
	color: #03A9F4;
	font-size: 12px;
}
.box input[type='submit'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
.box input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}
@media(max-width: 720px){
	.box {
		width: 80%;
	}
}
.alert {
  margin-top: 60px;

  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
  </style>
{% endblock %}
{% block content %}
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}

                <div class="alert {{category}}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{ message }}
                </div>

              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
<div class="container d-flex h-100 align-items-center">
      <div class="box">
        <h2>User Signup</h2>
        <form  action="/register" method="post" >
            <div class="inputBox">
                <input type="text" name="name" required="">
                <label for="">Name</label>
            </div>
            <div class="inputBox">
                <input type="text" id="username" name="username" required="">
                <label for="">Username</label>
            </div>
            <div class="inputBox">
                <input type="password"  id="password" name="password" required>
                <label for="">Password</label>
            </div>
            <div class="inputBox">
                <input type="password"  id="confirm_password"  name="confirm_password" required>
                <label for="">Confirm Password</label>
            </div>
            <input type="submit" name="" value="Sign Up">
            <a href="/login" style="padding: 25px;">Login</a>
        </form>
    </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");
    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
      }
    confirm_password.onkeyup = validatePassword;
    password.onkeyup = validatePassword;
    </script>

{% endblock %}
